@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-onest);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-onest), ui-sans-serif, system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.modal-1080 {
  max-width: 1080px;
}

.dropdown-toggle::after {
  display: none !important;
}

.container-padding {
  @apply px-17;
}
